.ecuador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ecuadorTitleSection {
    position: relative;
    width: 100%;
    height: 190px;
    background-image: url('../Media/ProjectsBG.jpg');
    background-size: cover;
    background-position: center;
}

.ecuadorOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(16, 143, 216, 1), rgba(76, 187, 252, 0.2));
    opacity: 0.8;
}

.ecuadorTitle {
    position: absolute;
    margin-left: 50px;
    top: 50%;
    font-size: 60px;
    left: 20px;
    transform: translateY(-50%);
    color:white;
    font-weight: 50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.ecuadorTitle2 {
    position: absolute;
    margin-left: 50px;
    top: 80%;
    font-size: 30px;
    left: 20px;
    transform: translateY(-50%);
    color:white;
    font-weight: 50;
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; 
}

.ecuador .mainTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ecuador .sectionTitles{
    padding-left: 5%;
    padding-right: 5%;
}

.ecuador .sectionParagraphs{
    padding-left: 10%;
    padding-right: 10%;
}

.ecuador .BoardList{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    }

    .ecuador .projectItem {
        border-radius: 15px;
        width: 220px;
        height: 340px;
        margin: 15px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        background-color: white
}

.ecuador .projectItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ecuador .projectItem h1 {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.ecuador .projectItem p {
    margin-left: 20px; 
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
    margin-top: 0;
}

@media only screen and (max-width: 540px) {
    .ecuador .BoardList {
        grid-template-columns: 1fr;
    }
    
    .ecuadorTitle2 {
        position: absolute;
        margin-left: 50px;
        top: 80%;
        font-size: 25px;
        left: 20px;
        transform: translateY(-50%);
        color: white;
        font-weight: 50; 
        /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }
}

@media only screen and (max-width: 410px) {

    .ecuadorTitle {
        margin-left: 10px;
    }

    .ecuadorTitle2 {
        margin-left: 10px;
    }

    .ecuador .BoardList {
        grid-template-columns: 1fr 1fr;
    } 

    .ecuador .sectionParagraphs{
        padding-left: 20px;
        padding-right: 20px;
    }

    .ecuador .BoardList {
        padding-left: 0;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    .ecuador .projectItem {
        border-radius: 15px;
        width: 165px;
        height: 285px;
        margin: 15px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        background-color: white; 
    }

    .ecuador .projectItem div {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 150px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .ecuador .projectItem h1 {
        margin-left: 15px;
        text-decoration: none;
        color: black; 
        font-size: 24px;
    }

    .ecuador .projectItem p {
        margin-left: 15px;
        text-decoration: none;
        color: black; 
        margin-bottom: 5px;
        margin-top: 0;
        font-size: 15px;
    }
}

@media only screen and (max-width: 388px) {
    .ecuador .BoardList {
     grid-template-columns: 1fr;
    }
}