.joinus {
    width: 100%;
    /* height: 90vh; */
    height: auto;
    display: flex;
    /* justify-content: first baseline; */
    justify-content: center;
    /* align-items: center; */
    align-items: center; 
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .joinus .headerContainer {
    width: 100%;
    margin-left: 0px;
    box-shadow: inset 0 0 0 100px rgba(0,0,0,.2);
  }
  
  .joinus .headerContainer h1 {
    justify-content: center;
    align-items: center;
    font-size: 60px;
    height: 100px;
    font-weight: 50;
    margin-left: 50px;
    color: white;
    /* background-color: white; */
    width: 300px;
    text-align: center;
  }
  
  .joinus .headerContainer p {
    padding: 0;
    font-size: 30px;
    font-weight: lighter;
    color: white;
  }
  
  .joinus .headerContainer button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: white;
    height: 50px;
    width: 180px;
    color: #121619;
    text-decoration: none;
    font-size: 20px;
  }
  
  .joinus .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
    transition: 0.3s ease-in;
  }

  .joinus .contactInfo {
    place-content: center;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, .2);
    place-self: center;
    /* min-width: 50%; */
    text-align: center;
  }

  .joinus .contactInfo h1 {
    background-color: rgba(0, 0, 0, .1);
    font-size: 40px;
    font-weight: lighter;
    color: white;
    border-radius: 15px;
    /* place-content: center;
    place-items: center;
    place-self: center; */
    /* max-width: 40%; */
  }

  .joinus .contactInfo p {
    font-size: 20px;
    color: white;
    font-weight: lighter;
    min-width: 500px;
  }

  .joinus .contactInfo a {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
    border-radius: 5px;
  }

  .joinus .contactInfo a:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
  
  .joinus .CurrentProjects {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 50px;
    padding-left: 33%;
    width: 100%;
    text-emphasis-style: open;
    text-emphasis-color: rgba(16, 143, 216, 1);
    /* align-items: center; */
  }

  .joinus .CurrentProjects p {
    font-size: 40px;
    color: black;
    font-weight: lighter;
    min-width: 500px;
    padding-left: 33%;
  }

  .joinus .projectsList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
  }

  /* MENU ITEM STYLING */
  
  .projectItem {
    border-radius: 15px;
    width: 220px;
    height: 300px;
    margin: 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .projectItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in;
    cursor: pointer;
    height: 350px;
    /* box-shadow: inset 0 0 0 150px rgba(16, 143, 216, 0.8); */
  }
  
  .projectItem .image {  /* .projectItem div { */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 170px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .projectItem:hover > .image { /* when hovering anywhere over projectItem, apply below css to just projectItem div */
    box-shadow: inset 0 0 0 150px rgba(16, 143, 216, 0.8);
    font-size: 20px;
    height: 220px;
  }


  .projectItem .divText {
    font-size: 20px;
    color: transparent;
  }

  .projectItem:hover .divText {
    font-size: 20px;
    color: white;
    padding: 10px;
  }
  /* 
  If the cube is directly inside the container: #container:hover > #cube { background-color: yellow; }  
  If cube is next to (after containers closing tag) the container: #container:hover + #cube { background-color: yellow; }
  If the cube is somewhere inside the container: #container:hover #cube { background-color: yellow; }
  If the cube is a sibling of the container: #container:hover ~ #cube { background-color: yellow; }
  */
  
  .projectItem h1 {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 25px;
  }

  .projectItem p {
    margin-left: 20px;
    text-decoration: none;
    color: black;
  }

  .projectLink {
    text-decoration: none;
  } 

  
  @media only screen and (max-width: 475px) { /*1045*/
    .joinus {
      justify-content: center;
      align-items: center;
    }
  
    .joinus .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: left;
      flex-direction: column;
      background-color: transparent;
      color: white;
    }
  
    .joinus .headerContainer h1 {
      font-size: 40px;
      height: 30px;
      color: white;
    }
  
    .joinus .headerContainer p {
      font-size: 20px;
      color: white;
      padding-top: 40px;
    }
  
    .joinus .headerContainer button {
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .joinus .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }

  @media only screen and (max-width: 351px) { 
    .joinus {
      justify-content: center;
      align-items: center;
    }
  
    .joinus .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: left;
      flex-direction: column;
      background-color: transparent;
      color: white;
    }
  
    .joinus .headerContainer h1 {
      font-size: 30px;
      height: 30px;
      color: white;
    }
  
    .joinus .headerContainer p {
      font-size: 15px;
      color: white;
      padding-top: 40px;
    }
  
    .joinus .headerContainer button {
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .joinus .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }

  @media only screen and (max-width: 1300px) {
    .joinus .projectsList {
      grid-template-columns: 1fr 1fr;
    }

    .joinus p {
      /* text-indent: 50px; */
      margin-left: 120px; 
      margin-right: 120px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .joinus .projectsList {
      grid-template-columns: 1fr;
    }
  }
  
  /* add next part below the hoverable tiles*/