.joinus {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: first baseline;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .joinus .headerContainer {
    width: auto;
    margin-left: 0px;
    box-shadow: inset 0 0 0 100px rgba(0,0,0,.2);
  }
  
  .joinus .headerContainer h1 {
    justify-content: center;
    align-items: center;
    font-size: 60px;
    height: 100px;
    font-weight: 50;
    margin-left: 50px;
    color: white;
    /* background-color: white; */
    width: 300px;
    text-align: center;
  }
  
  .joinus .headerContainer p {
    padding: 0;
    font-size: 30px;
    font-weight: lighter;
    color: white;
  }
  
  .joinus .headerContainer button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: white;
    height: 50px;
    width: 180px;
    color: #121619;
    text-decoration: none;
    font-size: 20px;
  }
  
  .joinus .headerContainer button:hover {
    background-color: rgb(225, 225, 225);;
    cursor: pointer;
    transition: 0.3s ease-in;
  }
  
  @media only screen and (max-width: 475px) { /*1045*/
    .joinus {
      justify-content: center;
      align-items: center;
    }
  
    .joinus .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: left;
      flex-direction: column;
      background-color: transparent;
      color: white;
    }
  
    .joinus .headerContainer h1 {
      font-size: 40px;
      height: 30px;
      color: white;
    }
  
    .joinus .headerContainer p {
      font-size: 20px;
      color: white;
      padding-top: 40px;
    }
  
    .joinus .headerContainer button {
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .joinus .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }

  @media only screen and (max-width: 351px) { 
    .joinus {
      justify-content: center;
      align-items: center;
    }
  
    .joinus .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: left;
      flex-direction: column;
      background-color: transparent;
      color: white;
    }
  
    .joinus .headerContainer h1 {
      font-size: 30px;
      height: 30px;
      color: white;
    }
  
    .joinus .headerContainer p {
      font-size: 15px;
      color: white;
      padding-top: 40px;
    }
  
    .joinus .headerContainer button {
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .joinus .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }