/* .navigationbar {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.navigationbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navigationbar .leftSide img {
  height: 100px;
}

.navigationbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigationbar a {
  color: #108FD8;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  margin: 20px;
  border:2px solid #CAE0FF;
  border-radius: 10px; 
}

 

.navigationbar .rightSide button {
  background-color: transparent;
  border: none;
  color: #108FD8;
  cursor: pointer;
}

.navigationbar .rightSide svg {
  font-size: 40px;
}

.navigationbar #open  {
  padding-left: 0px;
}
.navigationbar #open img {
  display: none;
}

.navigationbar #close img {
  display: inherit;
}

.navigationbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navigationbar #close .hiddenLinks {
  display: none;
}

.navigationbar #open a {
  width: 70px;
  margin: 5px;
}
@media only screen and (max-width: 1500px) {
  .navigationbar .rightSide a {
    width: 70px;
  }
  .navigationbar .leftSide {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 720px) {
  .navigationbar .rightSide a {
    display: none;
  }

  .navigationbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navigationbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 720px) {
  .navigationbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
} */

.navigationbar {
  background: white;
  height: 100px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  font-size: 1.2rem;
}

/* .navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
} */

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: #108FD8;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #CAE0FF;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.menu-icon {
  display: none;
}

.navigationbar img{
  padding-left: 30px;
  height: 100px;
}

@media screen and (max-width: 960px) {

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: white;;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    color: black;
  }

  .nav-links:hover {
    background-color: #CAE0FF;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 100%);
    /* font-size: 1.8rem; */
    cursor: pointer;
  }

  .menu-icon button {
    align-self: right;
    color: #108FD8;
    background-color: transparent;
    border-color: transparent;
  }

  .navigationbar img{
    padding-left: 30px;
    height: 100px;
  }

}