.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .projects .projectsTitle {
    font-size: 60px;
    width: 100%;
    color: white;
    height: 100px;
    padding-top:50px;
    padding-left: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: top;
    align-items: top;
  }
  
  .projectsList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .CurrentProjects {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
    padding-left: 33%;
    width: 100%;
  }

  .OldProjects {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 33%;
    font-size: 50px;
    width: 100%;
  }
  
  /* MENU ITEM STYLING */
  
  .projectItem {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .projectItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in;
    cursor: pointer;
  }
  
  .projectItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  


  .projectItem h1 {
    margin-left: 20px;
    text-decoration: none;
    color: black;
  }
  .projectItem p {
    margin-left: 20px;
    text-decoration: none;
    color: black;
  }

  .projectLink {
    text-decoration: none;
  }
  
  @media only screen and (max-width: 1300px) {
    .projectsList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectsList {
      grid-template-columns: 1fr;
    }
  }